@media screen and (max-width: 760px) {
    nav ul {
        gap: 1em;
    }

    nav ul li {
        padding: 1em 0;
        font-size: 13pt;
    }

    #main-header {
        height: 300px;
    }

    #main-header h1 {
        font-size: 23pt;
    }

    #main-header h2 {
        font-size: 18pt;
    }

    #main-content {
        flex-direction: column;
    }

    main {
        width: 100%;
    }

    aside {
        width: 100%;
    }
}